:root {
	--pure-white: #ffffff;
	--primary-color: #b9c6d2;
	--secondary-color: #d0dde9;
	--tertiary-color: #edf0f8;
	--accent-color: #ff3e00;
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #444444;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--primary-color);
	background: linear-gradient(
		180deg,
		var(--primary-color) 0%,
		var(--secondary-color) 10.45%,
		var(--tertiary-color) 41.35%
	);
	/* font-family: atten-new, 'Helvetica Neue', Arial, sans-serif; */
	/* font-family: nimbus-sans, 'Helvetica Neue', Arial, sans-serif; */
	/* font-family: hero-new, 'Helvetica Neue', Arial, sans-serif; */
	font-family: usual, 'Helvetica Neue', Arial, sans-serif;	
	font-weight: 400;
	font-style: normal;
	color: var(--pure-white);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#svelte {
	min-height: 100vh;
}

p {
	line-height: 1.5;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1, h2 {
	letter-spacing: 0.1rem;
}

h2, h3 {
	font-size: 1.17rem;
}

h1 {
	font-size: 2rem;
	text-align: center;
	font-family: questa-grande, serif;
	font-weight: 900;	
	font-style: italic;
	font-size: 6.4rem;
	line-height: 1.25;
}

h2 {
	text-transform: uppercase;
	font-weight: 400;
}

h3 {
	font-weight: 400;
	letter-spacing: 0.05rem;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

/* layout */

.fullscreen {
	width: 100vw;
	height: 100vh;
}

div.center {
	display: flex;
	position: relative;
	flex-direction: column;
	width: 100vw;
	position: relative;
	align-items: center;
}

@media (min-width: 720px) {
	h1 {
		/* font-size: 2.4rem; */
	}
}
