
:root {
	--base-color: #ffffff;
	--light-color: #ffffff;
	--dark-color: #000000;
	--text-color: #000000;
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-size: 1vmax;
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--base-color);
	font-family: 'usual', 'Helvetica Neue', Arial, sans-serif;
	line-height: 1.28125;	
	font-weight: 300;
	font-style: normal;
	color: var(--text-color);
	font-feature-settings: "pnum" on,"lnum" on;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#svelte {
	min-height: 100vh;
}

img, video {
	/* width: 100%; */
	max-width: 100%;
	height: auto;
	display: block;
}

footer {
	background-color: var(--dark-color);
}

footer p {
	color: var(--light-color);
}

a {
	color: var(--text-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

/* layout */

.wrapper {
	background-color: var(--dark-color);
}

.wrapper p {
	color: var(--light-color);
}

.fullscreen {
	width: 100vw;
	height: 100vh;
}

.headline {
	position: absolute;
	left: 0;
	top: 0;
}

.content p, .content li {
	max-width: 80vw;
	font-size: calc(14px + 1vw);
	font-weight: 300;
	line-height: 1.55;
}

.panel {
	position: relative;
	width: 100vw !important;
	height: 100vh !important;
}

.standard-margin {
	padding: 6rem;
}

.center {
	display: flex;
	position: relative;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	align-items: center;
	justify-content: center;
}

.split {
	display: flex;
	justify-content: left;
	flex-direction: row;
	align-items: center;
}

/* typography */

h1 {
	font-family: freight-big-pro, serif;
	/* font-size: 4.209rem; */
	font-size: 5rem;
	font-weight: 900;
	line-height: 0.9;
	text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05),
    5px 5px 10px rgba(0, 0, 0, 0.05), -5px 5px 10px rgba(0, 0, 0, 0.05);
}

h2 {
	font-size: 3rem;
	color: white;
	font-family: freight-big-pro, serif;
	font-weight: 700;
	font-style: italic;
	letter-spacing: 0.1rem;
	line-height: 1;
	text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05),
    5px 5px 10px rgba(0, 0, 0, 0.05), -5px 5px 10px rgba(0, 0, 0, 0.05);
}

h3 {
	font-size: calc(14px + 1vw);
	font-weight: 300;
	color: white;
	text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05),
    5px 5px 10px rgba(0, 0, 0, 0.05), -5px 5px 10px rgba(0, 0, 0, 0.05);
}

.bleed-padding {
	padding: 2rem;
}

.credits h3 {
	margin-bottom: 1rem;
}

p, li {
	font-size: calc(12px + .5vw);
	line-height: 1.5;
    padding-bottom: 1rem;
}

p {
	line-height: 1.55;
}

h1.paragraph-break, h2.paragraph-break, h2.title {
	padding-bottom: 2.4rem;
}

ul, ol {
	margin: 1vw;
	margin-left: 2vw;
}

.emphasize {
	font-weight: 400;
}

.italic {
	font-style: italic;
}

.no-wrap {
	white-space: nowrap;
}

.button {
	color: white;
	background-color: black;
	border: 1px solid white;
}

.button.another-page-button {
	display: inline-block;
	text-align: center;
	color: white;
	background-color: black;
	margin-top: 0.4rem;
}

.button.another-page-button p {
	padding-bottom: 0.6rem;
	margin: 1rem 2rem 0.5rem 2rem;
}

.button.project-info-button p {
	padding-bottom: 0.5rem;
	margin: 1rem 2rem 0.5rem 2rem;
	font-weight: 300;
}

.button:hover {
    transform: scale(1.02);
	-webkit-transform: scale(1.02);
}

/* elements */

button:focus:not(:focus-visible) {
	outline: none;
}

@media (max-width: 500px) {

	.standard-margin, .bleed-padding {
		padding: 1rem;
	}
}
